/05-dedicnost.py
/1_balik2.py
/audio.py
/cennyBalik.py
/Code_session
/coding.py
/dalsi_balik.py
/datum.py
/delivery_price.py
/kviz2
/kviz6.py
/lekce1
/lekce2_funkce
/lekce3_slovniky
/OOP
/package1.py
/Provazani.py
/ticket.py
/__pycache__